.boton-categoria:hover
{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-radius: 0px;
}

h1
{
  font-family: 'rubik', sans-serif;
  font-size: 40px;
  text-align: center;
}

.contenedor-categorias
{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}